/* stylelint-disable no-descending-specificity */
body {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(10, 11, 20);
  font-family: Lato, sans-serif;
}

header,
footer {
  color: #fff;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ef5350;
  border: rgb(97, 97, 97) solid 1px;
  box-shadow: 0 0 1rem 1rem rgb(52, 52, 59);
  text-align: center;
}

#container {
  padding: 20px;
}

.comment-btn {
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  align-self: center;
}

.comment-btn:hover {
  background-color: #333;
  color: #fff;
}

#pokemon-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: 1fr;
}

.card {
  width: auto;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
}

.image {
  background-color: rgb(243, 243, 243)
}

.image img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  background-color: rgb(243, 243, 243);
}

.poke-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  background-color: #ef5350;
  box-shadow: 0 0 1rem 0.5rem rgb(52, 52, 59);
}

h4 {
  margin: 0;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
}

.like-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.like-pokemon p {
  font-size: 0.8rem;
  margin: 3px;
}

.fa-heart {
  transition: 0.3s;
}

.fa-heart:hover {
  cursor: pointer;
  color: red;
}

.card ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.card li {
  list-style: none;
  font-size: 1.5rem;
}

button {
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #fff;
  color: #ef5350;
}

.popup-card {
  width: 80vw;
  height: 80vh;
  background-color: #d3d3d3ee;
  color: #fff;
  position: sticky;
  z-index: 1;
  bottom: 10%;
  left: 10%;
  box-shadow: 1rem 1rem 3rem 1rem #333;
  display: flex;
  margin: 0 !important;
}

.popup-details {
  width: 30%;
  background-color: #ef5350;
  box-shadow: 1rem 0 1rem 0 #333;
  z-index: 2;
}

.popup-details p {
  font-size: 1.3rem;
}

.popup-details h4 {
  font-size: 1.3rem;
}

.popup-details .like-pokemon {
  display: flex;
  flex-direction: row;
}

.popup-poke-details {
  width: 100%;
  height: 75%;
  text-align: center;
}

.popup-image img {
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.popup-card ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.popup-card li {
  color: #000;
  font-weight: bold;
  list-style: none;
  font-size: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: #ffcb05 solid 5px;
}

.comments-div {
  width: 56%;
  background-color: #ef5350;
  padding: 2rem;
}

.comments {
  color: #000;
  width: 100%;
  height: 45%;
  border: #333 solid 1px;
  background-color: rgba(255, 255, 255, 0.63);
  overflow-y: auto;
}

.single-comment {
  display: flex;
}

.comments p {
  font-size: 1rem;
  margin: 0.3rem;
}

form {
  width: 100%;
  height: 45%;
}

form p {
  font-size: 1rem;
  margin: 0;
}

.counter-div {
  display: flex;
}


.form-group {
  padding: 0.1rem 0;
  font-size: 1.5rem;
}

input {
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
}

textarea {
  font-family: Lato, sans-serif;
  width: 100%;
}

#submit-btn {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #fff;
}
